Django~=3.2
django-filter
djangorestframework~=3.12.4
drf-spectacular
Markdown
mysqlclient
django-jsonfield~=1.4.1
urllib3~=1.26.15
ensembl-metadata-api@git+https://github.com/Ensembl/ensembl-metadata-api.git@2.0.1.dev2